## FALL2023 AIN212 Course Project: Free Palestine
#### Talha Kaba - 2210765037
#### Abdulkadir Parlak - 2210765025
### Dataset: Fatalities in the Israeli-Palestinian Conflict
* source: https://www.kaggle.com/datasets/willianoliveiragibin/fatalities-in-the-israeli-palestinian

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Step 1: Data Collection

In [22]:
df = pd.read_csv('fatalities_isr_pse_conflict_2000_to_2023.csv')

"""
filtered_df = df[df['age'] <= 18]
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
filtered_df
"""

print("Number of rows:", len(df))
print("Number of columns:", len(df.columns))
df.head(10)

Number of rows: 11124
Number of columns: 16

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes
0,'Abd a-Rahman Suleiman Muhammad Abu Daghash,2023-09-24,32.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while standing ...
1,Usayed Farhan Muhammad 'Ali Abu 'Ali,2023-09-24,21.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while trying to...
2,'Abdallah 'Imad Sa'ed Abu Hassan,2023-09-22,16.0,Palestinian,Kfar Dan,Jenin,West Bank,2023-09-22,M,NaN,al-Yamun,Jenin,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while firing at them ...
3,Durgham Muhammad Yihya al-Akhras,2023-09-20,19.0,Palestinian,'Aqbat Jaber R.C.,Jericho,West Bank,2023-09-20,M,NaN,'Aqbat Jaber R.C.,Jericho,gunfire,live ammunition,Israeli security forces,Shot in the head by Israeli forces while throw...
4,Raafat 'Omar Ahmad Khamaisah,2023-09-19,15.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin,Jenin,gunfire,live ammunition,Israeli security forces,Wounded by soldiers’ gunfire after running awa...
5,'Ata Yasser 'Ata Musa,2023-09-19,29.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-20,M,NaN,Jenin,Jenin,gunfire,missile,Israeli security forces,Wounded by shrapnel from a missile fired by Is...
6,Yusef Salem Yusef Radwan,2023-09-19,24.0,Palestinian,Gaza City,Gaza,Gaza Strip,2023-09-19,M,No,Khan Yunis,Khan Yunis,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while participating i...
7,Mahmoud Khaled S'ud 'Ar'arawi,2023-09-19,25.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin R.C.,Jenin,gunfire,missile,Israeli security forces,Wounded by shrapnel from a missile fired by Is...
8,Mahmoud 'Ali Nafe'a a-S'adi,2023-09-19,23.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin R.C.,Jenin,gunfire,missile,Israeli security forces,Wounded by shrapnel from a missile fired by Is...
9,Milad Munzer Wajih a-Ra'i,2023-09-09,15.0,Palestinian,al-'Arrub R.C.,Hebron,West Bank,2023-09-09,M,NaN,al-'Arrub Camp,Hebron,gunfire,live ammunition,Israeli security forces,Fatally shot by a soldier after throwing two M...

# Attributes of the Dataset:
**Here are the descriptions of the attributes from the dataset:**
* **name:** name of the people died
* **date_of_event:** ...
.
.
.

# Step 2: Data Preprocessing and Cleaning

In [23]:
df.isnull().sum()

name                               0
date_of_event                      0
age                              129
citizenship                        0
event_location                     0
event_location_district            0
event_location_region              0
date_of_death                      0
gender                            20
took_part_in_the_hostilities    1430
place_of_residence                68
place_of_residence_district       68
type_of_injury                   291
ammunition                      5253
killed_by                          0
notes                            280
dtype: int64

There are ...
* 1430 missing values in the **took_part_in_the_hostilities** attribute.
* 129 missing values in the **age** attribute.
* 20 missing values in the **gender** attribute.
* 68 missing values in the **place_of_residence** attribute.
* 68 missing values in the **place_of_residence_district** attribute.
* 291 missing values in the **type_of_injury** attribute.
* 5253 missing values in the **ammunition** attribute.
* 280 missing values int he **notes** attribute.

In [23]:
# how to handle outliers? drop or imputation?
# are there any unnecessary attributes?
# convert categorical columns to numeric values(onehot encoding? ordinal encoding?)
# normalization of data